---
import VersionCard from "@/components/astro/VersionCard.astro";
import versions from "@/config/downloads/versions.json";
import BaseLayout from "@/layouts/Layout.astro";
import "@/styles/downloads.css";

---

<BaseLayout title="Descargas">

  <!-- Hero Section -->
  <!-- container mx-auto px-4 text-center relative z-10 -->


  <div class="container mx-auto px-4 text-center relative z-10">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-4xl md:text-5xl font-bold mb-6 animate-fade-in [text-shadow:_0_4px_12px_rgb(0_0_0_/_30%)]">
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#294bbc] to-[#b6c2fa]">
          Descargas
        </span>
      </h1>
      <p class="text-xl md:text-2xl mb-8 animate-fade-in delay-150 bg-white/10 backdrop-blur-sm px-6 py-3 rounded-full inline-block">
        Encuentra las últimas versiones de CodeXtremeOS aquí.
      </p>
    </div>
  </div>

  <!-- Sección Principal -->
  <main class="bg-gradient-to-br from-[#F4F4F4] to-[#eaeaea] dark:from-[#1A1A1A] py-16 relative">
    <h2 class="text-3xl font-bold text-center mb-12">
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#b4ff88] to-[#012201]">
        Últimas Versiones
      </span>
    </h2>
    <div class="container mx-auto px-4">
      <!-- Contenedor Flex para las últimas versiones -->
      <div class="flex flex-col md:flex-row gap-8 justify-center">
        {versions.latest.map(version => (
          <VersionCard {...version} />
        ))}
      </div>
    </div>
  </main>

  <!-- Versiones Anteriores -->
  <section class="mb-24">
    <h2 class="text-3xl font-bold text-center mb-12">
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#a581ff] to-[#170a38]">
        Versiones Anteriores
      </span>
    </h2>
    <div class="container mx-auto px-4">
      <div class="flex flex-col md:flex-row gap-8 justify-center">
        {versions.previous.map(version => (
          <VersionCard {...version} />
        ))}
      </div>
    </div>
  </section>
</BaseLayout>