---
import CategorySection from "@/components/astro/CategorySection.astro";
import categories from "@/config/software/categories.json";
import BaseLayout from "@/layouts/Layout.astro";
import "@/styles/software.css";


---

<BaseLayout title="Software">
  <!-- Hero Section -->
  <div class="container mx-auto text-center px-4 relative z-10">
    <div class="max-w-3xl mx-auto">
      <h1 class="text-5xl md:text-6xl font-bold mb-6 animate-fade-in [text-shadow:_0_4px_12px_rgb(0_0_0_/_30%)]">
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#294bbc] to-[#b6c2fa]">
          Software
        </span>
      </h1>
      <p class="text-xl md:text-2xl mb-8 animate-fade-in delay-150 bg-white/10 backdrop-blur-sm px-6 py-3 rounded-full inline-block">
        Encuentra el mejor software para tus necesidades.
      </p>
    </div>
  </div>

  <!-- Sección de información Open Source -->
  <section class="py-12 mb-8 relative">
    <div class="max-w-3xl mx-auto">
      <div class="bg-gradient-to-r from-[#2196F3]/90 to-[#9C27B0]/90 text-white mx-4 rounded-xl shadow-lg hover:shadow-xl transition-all duration-300">
        <div class="container mx-auto px-6 py-5 text-center text-sm md:text-base">
          <p class="leading-relaxed">
            ⭐ <strong>Open Source</strong> El software aquí listado es de código abierto.
            <br />
            🚀 Ayuda a mejorar este software contribuyendo en sus repositorios.
            <br />
            1. Reporta errores.
            <br />
            2. Contribuye con código.
            <br />
            3. Comparte con la comunidad.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección de Software -->
  <main class="bg-gradient-to-br from-[#1A1A1A] py-16 relative">
    <div class="container mx-auto px-4 mb-24">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {categories.map(category => (
          <CategorySection {...category} />
        ))}
      </div>
    </div>
  </main>
</BaseLayout>