---
import Header from "@/components/astro/Header.astro";
import Footer from "@/components/astro/Footer.astro";
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Título SEO -->
    <title>Codevo</title>
    <ClientRouter />

    <!-- Meta Tags SEO -->
    <meta name="description" content="Codevo, tu socio en desarrollo web. Creamos soluciones digitales a medida para potenciar tu negocio en línea." />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="desarrollo web, soluciones digitales, Codevo, empresa de desarrollo web, servicios web, diseño web" />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Codevo - Desarrollo Web" />
    <meta property="og:description" content="Codevo, tu socio en desarrollo web. Creamos soluciones digitales a medida para potenciar tu negocio en línea." />
    <meta property="og:image" content="https://www.codevo.pe/assets/img/logo_social.png" />
    <meta property="og:url" content="https://www.codevo.pe/" />

    <!-- Favicon y iconos -->
    <link rel="icon" href="/assets/img/codevo.ico" sizes="32x32" />
    <meta name="theme-color" content="#b6c2fa" />

  </head>
  <body
    class="bg-gradient-to-br from-gray-900 to-gray-800 dark:from-gray-100 dark:to-gray-200  text-gray-100 pt-20 min-h-screen"
  >
    <Header />
    <main class="min-h-[calc(100vh-8rem)]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
